# Parameters used by the balls executable
# The format here is pretty strict. Each line can be a comment, blank, or
# in the form <key> <value>. Values with spaces must be surrounded by "".

### WINDOW
win_size "1280 720"
win_title "Hiiii :3"
win_target_fps 60
win_min_fps 30

### SFX
sfx_master_volume 0.7
sfx_bump_path "res/sfx/click3.wav"
sfx_pop_path "res/sfx/pop1.ogg"
sfx_pop_secondary_pitch 1.2

### Target Balls
target_count 16
target_radius_min 24
target_radius_max 64
target_spawn_interval 0.2
target_growth_speed 2
# Bezier curve for growth
target_growth_ctl_1 "0.6 0.2"
target_growth_ctl_2 "0.8 1.5"

### Main Ball / Circle
circle_pos "624 344"
circle_gravity 980.0
circle_radius 32.0
circle_hit_slop 40.0
circle_min_speed 400.0
circle_restitution 0.8
circle_drag_launch_speed 0.8

### Rendering Settings
render_bg_color EEEEEE
render_target_color 66BFFF
render_circle_color 0079F1
render_circle_color_hover 0052AC

### Fonts
font_count 2

font0_path res/font/OpenSans-Regular.ttf
font0_size 32

font1_path res/font/OpenSans-Regular.ttf
font1_size 16

### Messages On Screen
message_count 2

message0_text "Play with my balls..."
message0_font 0
message0_pos "32 32"
message0_color 000000

message1_text "v1 by Zyntaks"
message1_font 1
message1_pos "32 -32"
message1_color 888888
